body {
  font-family: Arial;
  background: #111;
  color: #fff;
  padding: 20px;
}

input {
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px;
  margin: 5px;
  background: #00c853;
  border: none;
  color: white;
  cursor: pointer;
}

.card {
  background: #222;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.pendente { background: orange; }
.aprovado { background: green; }
.reprovado { background: red; }